<h1>$word.getWord() Definitions:</h1>

<ul>
  #foreach($definition in $words.haveDefine())
   <li>$Definition.getThaDef()</li>
  #end
</ul>

<a href="/words/$words.getId()/define/new">Add a new definition</a>
<a href="/words">Dictionary</a>
