<h1>$word.getWord() Definitions:</h1>


#foreach($definition in $word.haveDefine())
 <p>$definition.getThaDef()</p>
#end

<a id="newDefineAdd" class="btn btn-success" href="/words/$word.getId()/definition/new">Add a new definition</a>
<a id="home" class="btn btn-success" href="/">home</a>
