<h1>Add a Word</h1>

<p>Add a Word here:</p>

<form action="/words" method="post">
  <div>
    <label for="name">word</label>
    <input id="name" name="name" type="text">
    <button type="submit" class="btn btn-success">Add Word</button>
  </div>
</form>
