<h1>Add a Word</h1>

<p>Add a Word here:</p>

<form action="/wordsPost" method="post">
  <label for="word">word</label>
  <input id="word" word="word" type="text">
  <button type="submit" class="btn btn-success">Add Word</button>
</form>
